<nav class="menu">
    <a class="menu-item menu-item--active" href="">Accueil</a>
    <a class="menu-item" href="">Fruits</a>
    <a class="menu-item" href="">Légumes</a>
    <a class="menu-btn btn" href="">A propos</a>
</nav>